<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
    </head>
    <body>
    

        <h1>Exercício 01</h1>
        <h2>Exemplo de uso de LESS</h2>
        <a href="/exercicio01">Exercício 01</a>
        <a href="/less">Home</a>
        <a href="/historia">História</a>

        <p>
            <b>Lorem ipsum</b> dolor sit, amet consectetur adipisicing elit. Officia nisi sint, iusto cumque optio, soluta nobis, modi officiis eius quibusdam omnis! Obcaecati ut sed nostrum, ex exercitationem laboriosam illum atque.
            <br>
            <div id="div-1">
                <b>Div 1</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quibusdam velit enim incidunt nam natus harum sapiente! Officia modi beatae commodi quibusdam molestiae pariatur, nobis, eos quidem odit tempora adipisci.
            </div>
            <br>
            <div id="div-2">
                <b>Div 1</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quibusdam velit enim incidunt nam natus harum sapiente! Officia modi beatae commodi quibusdam molestiae pariatur, nobis, eos quidem odit tempora adipisci.
            </div>
            <br>
            <div id="div-3">
                <b>Div 1</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus quibusdam velit enim incidunt nam natus harum sapiente! Officia modi beatae commodi quibusdam molestiae pariatur, nobis, eos quidem odit tempora adipisci.
            </div>
            <br>
        </p>

        <script src="https://cdn.jsdelivr.net/npm/less"></script>
        <script>
            less = {env: 'development'};
        </script>
    </body>
</html>
