<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/styles.less" />
    <title>Landing Page com Less</title>
</head>

<body>

    <div class="container">
        <!-- <div class="bkg-img">
            <img src="" alt="">
        </div> -->

        <header>
            <nav>
                <ul>
                    <div class="link-left">
                        <a class="link-L" href=""><li>page 1</li></a>
                        <a class="link-L" href=""><li>page 2</li></a>
                        <a class="link-L" href=""><li>page 3</li></a>
                    </div>

                    <div class="logo">
                        <img src="./_img/logo-less.png" alt="" width="100" height="100">
                    </div>

                    <div class="link-right">
                        <a class="link-R" href=""><li>page 4</li></a>
                        <a class="link-R" href=""><li>page 5</li></a>
                        <a class="link-R" href=""><li>page 6</li></a>
                    </div>
                </ul>
            </nav>
        </header>

        <div class="content">
            <h1>LESS</h1>
            <h2>Pré-prcessador CSS</h2>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/less"></script>
</body>

</html>