<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less">
    <title>LESS</title>
</head>
<body>
    <h1>Título</h1>

    <p>
        <b>Lorem Ipsum</b>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, culpa quisquam aliquam necessitatibus nulla voluptatum consectetur error, esse distinctio optio iure unde laborum delectus. Accusamus repellat totam ipsum a at!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nam explicabo earum nostrum. Nostrum, reiciendis officiis necessitatibus explicabo pariatur quo illum numquam quis esse eum excepturi nisi aliquam minima praesentium.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet tempora qui sequi distinctio quo. Amet temporibus quo repellendus in! Deleniti necessitatibus, harum saepe laborum sed recusandae a? Eligendi, hic debitis.
    </p>

    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
    <script>
        less = {
            env: "development" /* Pode ser production, se for development mostra erros no console */
        }
    </script>
</body>
</html>

